{% extends "base.html" %}

{% block title %}Meus Destinos{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/destinos.css') }}">
{% endblock %}

{% block content %}

<div class="pagina-destinos">

    {% if 'usuario' not in session %}

    <section class="acesso-restrito">

        <span class="badge-restrito">
            Acesso restrito
        </span>

        <h1>
            Faça login para ver <br>
            <span>Meus Destinos</span>
        </h1>

        <p>
            Descubra recomendações personalizadas de acordo com o seu perfil de viagem.
        </p>

        <div class="acoes">
            <a href="{{ url_for('auth.login') }}" class="login-notice-button">
                    Entrar ou criar conta
            </a>
        </div>

    </section>

    {% else %}

    <section class="recomendacao-section">

        <div class="recomendacao-header">

            <span class="badge-personalizado">
                Recomendação personalizada
            </span>

            <h1>
                Descubra destinos que combinam com você
            </h1>

            <p>
                Responda algumas perguntas e receba sugestões personalizadas.
            </p>

        </div>

        <form
            method="POST"
            action="#"
            class="form-preferencias"
        >

            <!-- Pergunta 1 -->

            <div class="pergunta">

                <label for="objetivo">
                    O que você mais procura nesta viagem?
                </label>

                <select
                    name="objetivo"
                    id="objetivo"
                    required
                >
                    <option value="">Selecione</option>

                    <option value="praia">
                        Descanso e maresia
                    </option>

                    <option value="historia">
                        Conhecer o passado e suas histórias
                    </option>

                    <option value="cultura">
                        Expressões culturais e tradições locais
                    </option>

                    <option value="gastronomia">
                        Novas experiências gastronômicas
                    </option>

                    <option value="natureza">
                        Aventura e contato com a natureza
                    </option>

                    <option value="vida-noturna">
                        Noites animadas e entretenimento
                    </option>

                </select>

            </div>

            <!-- Pergunta 2 -->

            <div class="pergunta">

                <label for="companhia">
                    Com quem você vai visitar os lugares?
                </label>

                <select
                    name="companhia"
                    id="companhia"
                    required
                >
                    <option value="">Selecione</option>

                    <option value="sozinho">Sozinho</option>
                    <option value="casal">Casal</option>
                    <option value="amigos">Amigos</option>
                    <option value="familia">Família</option>

                </select>

            </div>

            <!-- Pergunta 3 -->

            <div class="pergunta">

                <label for="periodo">
                    Você é uma pessoa que gosta mais de:
                </label>

                <select
                    name="periodo"
                    id="periodo"
                    required
                >
                    <option value="">Selecione</option>

                    <option value="matutina">Atividades pela manhã</option>
                    <option value="vespertina">Passeios à tarde</option>
                    <option value="noturna">Aproveitar a noite</option>

                </select>

            </div>

            <div class="pergunta">

                <label for="orcamento">
                    Ao visitar um destino, qual costuma ser seu estilo?
                </label>

                <select
                    name="orcamento"
                    id="orcamento"
                    required
                >
                    <option value="">Selecione</option>

                    <option value="baixo">Procuro atividades gratuitas ou de baixo custo</option>
                    <option value="medio">Misturo atrações gratuitas e pagas</option>
                    <option value="alto">Não me importo em pagar por boas experiências</option>

                </select>

            </div>

            <button
                type="submit"
                class="btn-gerar"
            >
                Gerar recomendação
            </button>

        </form>

    </section>

    {% if pontos %}

    <section class="resultado-recomendacao">

        <h2>
            Esses são os destinos que têm a sua cara
        </h2>

        <p>
            Selecionamos algumas opções com base nas suas respostas.
        </p>

    </section>

    <section class="cards-section">
    <div class="cards-container">
        <div class="cards-grid">
        {% for ponto in pontos %}
        <article class="tourist-card">
            
            <div class="card-image-area">
                <img src="{{ url_for('static', filename='images/' ~ ponto.card_img) }}"
                    alt="{{ ponto.nome }}"
                    class="card-image">
            </div>
            
            <div class="card-content">
                <div class="categorias">
                    {% for cat in ponto.categoria %}
                        <span class="categoria">{{ cat }}</span>
                    {% endfor %}
                </div>
                
                <h3 class="card-title">{{ ponto.nome }}</h3>
                
                <p class="card-description">
                    {{ ponto.resumo }}
                </p>
                
                <a href="{{ url_for('ponto_detalhe', ponto_id=ponto.id) }}" class="card-link">Ver detalhes &rsaquo;</a>
            </div>
            
        </article>
        {% endfor %}
        </div>
    </div>
</section>

    {% endif %}

    {% endif %}

</div>

{% endblock %}