{%extends "base.html" %}
{%block title%}    
    Pontos Turisticos
{%endblock%}
{% block css_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pontos.css') }}">
{% endblock %}
{%block content%}
<div class="pagina-pontos">
    <main class="main-content">

        <section class="hero-section">

            <span class="hero-subtitle">
                ROTEIROS ESSENCIAIS
            </span>

            <h2 class="hero-title">
                Pontos <span>turísticos</span>
            </h2>

            <p class="hero-descricao">
                Do mar de águas mornas ao barroco dourado,
                escolha o que você quer viver em João Pessoa.
            </p>

        </section>

        </section>
        
        {% if 'usuario' not in session %}

        <section class="login-notice">

            <div class="login-notice-content">

                <p class="login-notice-text">
                    Faça login para comentar pontos turísticos e receber recomendações personalizadas.
                </p>

                <a href="{{ url_for('auth.login') }}" class="login-notice-button">
                    Entrar ou criar conta
                </a>

            </div>

        </section>

        {% endif %}

        <section class="cards-section">
    <div class="cards-container">
        <div class="cards-grid">
        {% for ponto in pontos %}
        <article class="tourist-card">
            
            <div class="card-image-area">
                <img src="{{ url_for('static', filename='images/' ~ ponto.card_img) }}"
                    alt="{{ ponto.nome }}"
                    class="card-image">
            </div>
            
            <div class="card-content">
                <div class="categorias">
                    {% for cat in ponto.categoria %}
                        <span class="categoria">{{ cat }}</span>
                    {% endfor %}
                </div>
                
                <h3 class="card-title">{{ ponto.nome }}</h3>
                
                <p class="card-description">
                    {{ ponto.resumo }}
                </p>
                
                <a href="{{ url_for('ponto_detalhe', ponto_id=ponto.id) }}" class="card-link">Ver detalhes &rsaquo;</a>
            </div>
            
        </article>
        {% endfor %}
        </div>
    </div>
</section>
    </main>
</div>
{%endblock%}